*.egg
*.egg-info
*.pyc
.DS_Store
.cache
.coverage
.eggs
.idea
.pytest_cache
.tox
.ipynb_checkpoints
.python-version
__pycache__
htmlcov/*
build
dist
temp/
venv/
Pipfile.lock
pyproject.toml
wheels
data
